
.btnGroup button.delet:hover {
	background:#d7404f;
}
.btnGroup button.inMod:hover {
    background: #d86712;
}
.btnGroup button.outMod:hover {
    background: #6C9949;
}
.btnGroup button.AddTeach:hover {
    background: #145E9D;
}
.inMod {
	background:#ef8842;
	border:0;
	color:#fff;
}
.outMod {
    background: #85c255;
    border: 0;
    color: #fff;
    margin-left: 10px;
}
.AddTeach {
    background: #62aae9;
    border: 0;
    color: #fff;
    margin-left: 10px;
}
.addMod {
	background-color:#5cb85c;
	margin:0 10px 0 10px;
	border:0;
	color:#fff;
}
.delet {
	background:#e5394a;
	border:0;
	color:#fff;
	margin-left: 10px;
}
.labelRight {
	text-align:right;
	font-weight:400;
	line-height:25px;
}
.dropdown-toggle{
	border-radius: 5px;
}
table tr {
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.table tbody tr td,.table tbody tr th {
	border:0;
}
table tr th a,table tr td a {
	cursor:pointer;
}
.table tbody tr td,.table tbody tr th {
	border:0;
}
.table tbody tr th:nth-last-child(1) {
	text-align:right;
}
.table tbody tr td:nth-last-child(1) {
	text-align:right;
}
.paglist {
	text-align:right;
}
.paglist ul {
	margin:0;
}
.modalTitle {
	font-size:12px;
}
#DelModal,#DeleteModal {
	position:fixed;
	top:150px;
	left:22%;
}
#addModal {
	position:fixed;
	top:150px;
	left:0;
}

.modalDialog {
	width:450px;
}
.modalTitle {
	font-size:12px;
}
.textRight {
	text-align:right;
}
.modalFoot,.modfoot {
	border-top:0;
	text-align:center;
}
.container button {
	width:90px;
}
.modalFoot button {
	width:80px;
}
.msgbox {
	padding:30px 0 20px 0;
}
#ModalCont {
	width:300px;
	position:fixed;
	top:150px;
	left:47%;
}
.btun {
	padding:5px 40px;
	background:#62aae9;
	border:0;
	margin-left:0;
}
.container img {
	width:75%;
	padding-top: 10px;
}
.btnGroup button {
	width:90px;
}
.contnet {
	margin:5% 35%;
}
.butn {
	padding:5px 40px;
	background:#62aae9;
	border:0;
}
.box {
	width:70%;
	height:50px;
	margin:0 auto;
	border:dashed 1px #ddd;
	line-height:50px;
	text-align:center;
	position:relative;
}
#fileSubmit {
	opacity:0;
	position:absolute;
	top:0;
	left:30px;
	cursor:pointer;
}
.Cancel {
	width:80px;
	background:#b5b5b5;
	border:0;
	color:#fff;
}
.Submit {
	width:80px;
	background:#62aae9;
	border:0;
	color:#fff;
}
.box {
    width: 70%;
    height: 50px;
    position: relative;
    border: dashed 1px #ddd;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    }
.fileSumit {
    position: absolute;
    left: 13px;
    top: -4px;
    cursor: pointer;
    opacity: 0;
}

